header > p{border-bottom:1px dashed black;font-style:italic;font-size:x-large;}
footer > p{border-top:1px dashed black;font-style:italic;}
.chessboard { margin:20px; display:table; table-layout:fixed; border-collapse:collapse; }
.black { width:8vmin; height:8vmin; background-color:#228b22; font-size:7vmin; text-align:center; display:table-cell; vertical-align:middle; }
.white { width:8vmin; height:8vmin; background-color:#fffdd0; font-size:7vmin; text-align:center; display:table-cell; vertical-align:middle; }
