header > p{border-bottom:1px dashed black;font-style:italic;font-size:x-large;}
footer > p{border-top:1px dashed black;font-style:italic;}
table{border-spacing:5px;width:530px;}
th{color:#FFF;background:#000;text-align:center;}
td{border-bottom:1px solid black;background:#F0F0F0;padding:3px;text-align:left;vertical-align:top;}
table.right-nowrap td{text-align:right; white-space:nowrap;}
table.nowrap th{white-space:nowrap;} td{white-space:nowrap;}
p#err_msg{color:#F00;font-weight:bold;}
.column{width:48%;height:500px;position:relative;margin:1%;float:left;}
textarea{min-width:100%;max-width:100%;width:90%;height:90%;min-height:80%;max-height:80%;overflow:auto;}
.center{width:100%;position:relative;float:left;clear:both;text-align:center;}
li a{line-height:1.8;}@media(min-width:60em){li a{line-height:1.2;}}
